<div class="row">
    <div ng-hide="loaded">
        <!-- do not remove empty divs-->
        <div class="center-block uil-spin-css" style='-webkit-transform:scale(0.64)'><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div></div>
    </div>
    <div ng-repeat="livre in livres | filter: filterFunction">
        <div class="livre col-md-12 livre-center">
            <div class="col-md-3">
                <img ng-if="livre.urlImage" class="cover" src="{{livre.urlImage}}"/>
            </div>
            <div class="col-md-9" ng-class="{
                coeur: livre.coupCoeur
            }">
                <H1 class="title">{{livre.id}}. {{livre.titre}}</H1>

                <H3 class="author">{{livre.auteurs}} {{livre.illustrateur}}</H3>
                <H4 class="editeur">{{livre.editeur.nom}}</H4>

                <div ng-if="livre.coupCoeur">
                    <div class="row">
                        <div class="col-sm-1 text-center">
                            <span class="glyphicon glyphicon-heart-empty fa-big"></span>
                            <span class="glyphicon glyphicon-heart-empty fa-big"></span>
                            <span class="glyphicon glyphicon-heart-empty fa-big"></span>
                            <span class="glyphicon glyphicon-heart-empty fa-big"></span>
                            <span class="glyphicon glyphicon-heart-empty fa-big"></span>
                        </div>
                        <div class="col-sm-11">
                            <div class="resume">{{livre.resume}}</div>
                            <div class="comments">{{livre.commentaires}}</div>
                            <div class="price" ng-show="livre.prix>0">prix : {{livre.prix | currency:""}} €</div>
                            <div>Categorie : {{livre.categorie.libelle}}</div>
                            <div>Âge : {{livre.age.libelle}}</div>
                            <div ng-show="livre.reserveHDV"><span class="glyphicon glyphicon-alert"></span> Titre visible sur les temps forts</div>
                        </div>
                    </div>
                </div>
                <div ng-if="!livre.coupCoeur">
                    <div class="resume">{{livre.resume}}</div>
                    <div class="comments">{{livre.commentaires}}</div>
                    <div class="price" ng-show="livre.prix>0">prix : {{livre.prix | currency:""}} €</div>
                    <div>Categorie : {{livre.categorie.libelle}}</div>
                    <div>Age : {{livre.age.libelle}}</div>
                    <div ng-show="livre.reserveHDV"><span class="glyphicon glyphicon-alert"></span> Titre visible sur les temps forts</div>
                </div>
            </div>
        </div>
    </div>
</div>
